/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 20px;
	font-size: $h6;

	/* Mobile */

	@media #{$mobile} {
		padding: 20px 20px 90px;
	}
}
