<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">


	<meta name="theme-color" content="#f4f4f4"/>

	<link rel="manifest" href="http://panayotov.me/manifest.json">

	<meta name="description" content="Nikolay Panayotov - personal web site.">

	<meta property="og:site_name" content="Nikolay Panayotov">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Nikolay Panayotov">
	<meta property="og:description" content="Nikolay Panayotov - personal web site.">
	<meta property="og:url" content="http://panayotov.me">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Nikolay Panayotov">
	<meta name="twitter:description" content="Nikolay Panayotov - personal web site.">
	<meta name="twitter:url" content="http://panayotov.me">

	<title>Nikolay Panayotov</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
</head>
