<header class="header">
	<a href="#" class="nav-trigger">
		<i class="burger">
			<span></span>
			<i class="cross"></i>
		</i>

		<span class="sr-only">Open menu</span>
	</a>

	<nav class="nav">
		<ul>
			<li>
				<a href="#">Nothing</a>
			</li>

			<li>
				<a href="#">to</a>
			</li>

			<li>
				<a href="#">see</a>
			</li>

			<li>
				<a href="#">here</a>
			</li>

			<li>
				<a href="#">😊</a>
			</li>
		</ul>
	</nav><!-- /.nav -->

	<a href="/" class="logo">
		<span>Nikolay</span> <span>Panayotov</span>

		<svg class="ico ico--sign logo__icon">
			<use xlink:href="#sign-me"></use>
		</svg><!-- /.ico--sign -->
	</a>

	<div class="socials">
		<ul>
			<li>
				<a href="https://www.facebook.com/SplasHmdfc" target="_blank" rel="noreferrer">
					<svg class="ico ico--facebook">
						<use xlink:href="#facebook-brands"></use>
					</svg><!-- /.ico-/-facebook-brands -->

					<span class="sr-only">Link to facebook</span>
				</a>
			</li>

			<li>
				<a href="https://www.linkedin.com/in/nikolay-panayotov-b1052b101" target="_blank" rel="noreferrer">
					<svg class="ico ico--linkedin">
						<use xlink:href="#linkedin-brands"></use>
					</svg><!-- /.ico-/-linkedin-brands -->

					<span class="sr-only">Link to Linkedin</span>
				</a>
			</li>

			<li>
				<a href="mailto:nspanayotov@gmail.com" target="_blank">
					<svg class="ico ico--envelope">
						<use xlink:href="#envelope-solid"></use>
					</svg><!-- /.ico-/-envelope-solid -->

					<span class="sr-only">Send Email</span>
				</a>
			</li>

			<li>
				<a href="tel:+359897050413" target="_blank">
					<svg class="ico ico--phone">
						<use xlink:href="#phone-square-alt-solid"></use>
					</svg><!-- /.ico-phone-square-alt-solid -->

					<span class="sr-only">Call</span>
				</a>
			</li>
		</ul>
	</div><!-- /.socials -->
</header><!-- /.header -->
