/* ------------------------------------------------------------ *\
	Animations
\* ------------------------------------------------------------ */

@-webkit-keyframes scroll {
	from { transform: translateY(0); }
	to {
		opacity: 0;
		transform: translateY(8px);

	}
}

@keyframes scroll {
	from { transform: translateY(0); }
	to {
		opacity: 0;
		transform: translateY(8px);

	}
}

.flip {
	display: inline-block;
	vertical-align: top;
	transform-origin: bottom right;
	animation: flip 2s infinite;
}

@keyframes flip {
	0, 100% { transform: rotate(0) }
	50% { transform: rotate(-20deg) }
}
